baseURL: "https://bearcurb.blog/"

languageCode: "zh-cn"
defaultContentLanguage: "zh-cn"

title: "小熊的博客"

theme: "gokarna"

# 是否生成robots.txt
enableRobotsTXT: false

menu:
  main:
    - identifier: "home"
      name: "主页"
      url: "/"
      weight: 1

    - identifier: "posts"
      name: "归档"
      url: "/posts/"
      weight: 2

    - identifier: "t"
      name: "标签"
      url: "/tags/"
      weight: 3

    - identifier: "rss"
      url: "/index.xml"
      pre: "<span data-feather='rss'></span>"
      weight: 4

params:
    # 头像的URL
    avatarURL: "/images/avatar.png"
    # 头像尺寸size-xs、size-s、size-m、size-l、size-xl
    avatarSize: "size-l"
    # 标题和头像下的说明
    description: "你好喵!"
    # 强调色
    # accentColor: "#E32636"

    customHeadHTML: "<script>
      const title = '小熊的博客';
      const emoticon = [
        '(´･ω･`)',
        'm9(^Д^)',
        'm(_ _)m',
        '(`･ω･´)',
        '＿|￣|○',
        '(｀-´)>',
        '(´；ω；`)',
        'ヽ(´ー｀)ﾉ',
        'ヽ(`Д´)ﾉ',
        '(＃ﾟДﾟ)',
        '（ ´Д｀）♥',
        '（´∀｀）',
        'Σ(゜д゜;)',
        '( ﾟдﾟ)',
        '（・∀・）',
        '（・Ａ・）',
        'ヽ(´▽`)/',
        '^ㅂ^'
      ];
      let visible = true;
      let emojisIndex = 0;
      let currentTile = title + emoticon[emojisIndex];

      document.title = currentTile;
      document.addEventListener('visibilitychange', ()=>{
        document.visibilityState === 'visible' ? 
        document.title = currentTile
        :
        document.title = '快看我! 快看我!';

        document.visibilityState === 'visible' ? 
        visible = true
        :
        visible = false;
       });

      setInterval(()=>{
        emojisIndex = Math.floor(Math.random() * (emoticon.length));
        currentTile = title + emoticon[emojisIndex];
        if(visible)
          document.title = currentTile;
      }, 1000);
      </script>"

    customFooterHTML: "<script>
      (document.getElementsByClassName('nav-title')[0]).getElementsByClassName('nav-brand')[0].innerText = title;
      (document.getElementsByClassName('home-about')[0]).getElementsByTagName('a')[0].innerText = '';
    </script>"

    # 在页脚部分显示的文本
    footer: "SmallBear"
    socialIcons:
      - name: "twitter"
        url: "https://twitter.com/SmallbearQwQ"
      - name: "telegram"
        url: "https://t.me/smallbrar"
      - name: "github"
        url: "https://github.com/xsmallbear"
      - name: "steam"
        url: "https://steamcommunity.com/profiles/76561198401072504"

markup:
  tableOfContents:
    startLevel: 1
    endLevel: 3
    ordered: false